*~
.idea/*
.idea
*.pyc
__pycache__
__pycache__/*
*/.DS_Store
.vscode/*
data/*
!data/Omniscape/
data/Omniscape/output
data/Omniscape/acowoo/CroppedLayers
data/Omniscape/*/*/transmission.tif*
data/Omniscape/*/CA*.csv.*.csv
